body {
    font-family: Arial, sans-serif;
    font-style: italic;
    text-align: center;
    margin: 50px;
}

img {
    width: 80%;
    margin-bottom: 20px;
    border-radius: 5px;
    display: inline-block;
}

p {
    color: rgb(0, 0, 0);

}

.bawah {
    background-color: rgb(82, 82, 82);
    padding: 2%;
    border-radius: 8px;
}
